.slide_container {
  padding: 50px 120px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100vw;
}
.slide_container h2 {
  padding-bottom: 40px;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.slide_container .slide {
  max-width: 570px;
  width: 100vw;
  max-height: 320px;
  height: 100vh;
  background-color: #f5f5f7;
  border-radius: 15px;
}
.slide_container .slide div {
  padding: 40px;
}
.slide_container .slide div img {
  padding-bottom: 15px;
}
.slide_container .slide div h3 {
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 15px;
}
.slide_container .slide div p {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.splide__arrow--prev {
  right: 20px;
}