.header {
    position: fixed;
    max-width: 100%;
    width: 1001vw;
    padding: 35px 120px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    div {
    display: flex;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}
}

.links {
    gap: 40px;
    font-size: 16px;
}

.contact {
    gap: 20px;
    font-size: 18px;
    position: relative;
}

.lenguage_menu {
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    flex-direction: column;
    right: 149px;
    top: 25px;
    background-color: #282828;
}

